doctype html
html( lang='nl' data-version=version data-branch=branch)
  head
    meta( http-equiv='content-type', content='text/html; charset=utf-8' )

    meta( name='apple-mobile-web-app-status-bar-style', content='black-translucent' )
    meta( name='author', content='JasperV' )
    meta( name='description', content='JasperV' )
    meta( name='robots', content='noindex' )
    meta( name='viewport', content='width=device-width, initial-scale=1' )

    title JasperV

    link( rel='apple-touch-icon' href='/icon.svg' )
    link( rel='icon', href='/icon.svg' )
    link( rel='manifest', href='/manifest.webmanifest' )

    style.
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }

      body {
        font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
        font-size: 1em;
        font-weight: 700;
        background-color: #ebece7;
        background: -webkit-linear-gradient(#ebece7, white);
        background: linear-gradient(#ebece7, white);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container, p {
        position: absolute;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        cursor: pointer;
        padding: 0.1em;
        overflow: visible;
        margin-top: -1em;
      }

      p {
        color: transparent;
      }

      p span {
        display: inline-block;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 800;
        perspective: 800;
        -webkit-font-smoothing: antialiased;
        overflow: visible;
      }

      .title span {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 800;
        perspective: 800;
        -webkit-font-smoothing: antialiased;
      }

      p span::before,
            p span::after {
        display: none;
        position: absolute;
        top: 0;
        left: -1px;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        transition: all ease-out 0.2s;
        content: attr(data-text);
      }

      p span::before {
        z-index: 1;
        color: rgba(0,0,0,0.2);
        -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
        transform: scale(1.1, 1) skew(0deg, 20deg);
      }

      p span::after {
        z-index: 2;
        color: #ebece7;
        text-shadow: -1px 0 1px #ebece7, 1px 0 1px rgba(0,0,0,0.8);
        -webkit-transform: rotateY(-40deg);
        transform: rotateY(-40deg);
      }

      p span:hover::before {
        -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
        transform: scale(1.1, 1) skew(0deg, 5deg);
      }

      p span:hover::after {
        -webkit-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
      }

      p span + span,
            .container span + span {
        margin-left: 0.2em;
      }

      @media (min-width: 20em) {
        p,
              .container {
          font-size: 2em;
        }

        p span::before,
              p span::after {
          display: block;
        }
      }

      @media (min-width: 30em) {
        p,
              .container {
          font-size: 3em;
        }
      }

      @media (min-width: 40em) {
        p,
              .container {
          font-size: 5em;
        }
      }

      @media (min-width: 60em) {
        p,
              .container {
          font-size: 8em;
        }
      }

      .title {
        color: transparent;
        background: url( background.jpg ) repeat;
        background-position: 40% 50%;
        -webkit-background-clip: text;
      }

  .container
    .title
      span J
      span A
      span S
      span P
      span E
      span R
      span V
  p
    span(data-text='J') J
    span(data-text='A') A
    span(data-text='S') S
    span(data-text='P') P
    span(data-text='E') E
    span(data-text='R') R
    span(data-text='V') V
  script.
    document.addEventListener( 'DOMContentLoaded', function() {
      document.addEventListener( 'mousemove', function( e ) {
        traX = 4 * e.pageX / 570 + 40
        traY = 4 * e.pageY / 570 + 50
        document.querySelector( '.title' ).style.backgroundPosition = traX + '%' + traY + '%'
      } )
    } )

  noscript JasperV

  script.
    if ( 'serviceWorker' in navigator ) {
      window.addEventListener( 'load', _ => {
        navigator.serviceWorker.register( '/sw.js' )
      } )
    }
