doctype html
head
  meta(charset='utf-8')
  title JasperV
  meta(name='description' content='JasperV.nl')
  meta(name='author' content='JasperV')
  meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
  meta(name='viewport' content='height=device-height,initial-scale=1.0,maximum-scale=5,user-scalable=0')
  meta(name='theme-color' content='#ebece7')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
  style.
.container
  .title
    span J
    span A
    span S
    span P
    span E
    span R
    span V
p
  span(data-text='J') J
  span(data-text='A') A
  span(data-text='S') S
  span(data-text='P') P
  span(data-text='E') E
  span(data-text='R') R
  span(data-text='V') V
script.
  document.addEventListener( 'DOMContentLoaded', function() {
    document.addEventListener( 'mousemove', function( e ) {
      traX = 4 * e.pageX / 570 + 40
      traY = 4 * e.pageY / 570 + 50
      document.querySelector( '.title' ).style.backgroundPosition = traX + '%' + traY + '%'
    } )
  } )
