html,
    body
    margin 0
    padding 0
    width 100%
    height 100%

body
    font-family Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif
    font-size 1em
    font-weight 700
    background-color #ebece7
    background -webkit-linear-gradient(#ebece7, white)
    background linear-gradient(#ebece7, white)
    display flex
    justify-content center
    align-items center

.container,
    p
    position absolute
    -webkit-margin-before 1em
    -webkit-margin-after 1em
    -webkit-margin-start 0px
    -webkit-margin-end 0px
    cursor pointer
    padding 0.1em
    overflow visible
    margin-top -1em

p
    color transparent
    span
        display inline-block
        position relative
        -webkit-transform-style preserve-3d
        transform-style preserve-3d
        -webkit-perspective 800
        perspective 800
        -webkit-font-smoothing antialiased
        overflow visible
        &::before
            z-index 1
            color rgba(0,0,0,0.2)
            -webkit-transform scale(1.1, 1) skew(0deg, 20deg)
            transform scale(1.1, 1) skew(0deg, 20deg)
        &::after
            z-index 2
            color #ebece7
            text-shadow -1px 0 1px #ebece7, 1px 0 1px rgba(0,0,0,0.8)
            -webkit-transform rotateY(-40deg)
            transform rotateY(-40deg)
        &:hover
            &::before
                -webkit-transform scale(1.1, 1) skew(0deg, 5deg)
                transform scale(1.1, 1) skew(0deg, 5deg)
            &::after
                -webkit-transform rotateY(-10deg)
                transform rotateY(-10deg)

.title
    color transparent
    background url( img/background.jpg ) repeat
    background-position 40% 50%
    -webkit-background-clip text
    span
        -webkit-transform-style preserve-3d
        transform-style preserve-3d
        -webkit-perspective 800
        perspective 800
        -webkit-font-smoothing antialiased

p span::before,
    p span::after
    display none
    position absolute
    top 0
    left -1px
    -webkit-transform-origin left top
    transform-origin left top
    transition all ease-out 0.2s
    content attr(data-text)

p span + span,
    .container span + span
    margin-left 0.2em

p,
@media (min-width: 20em)     .container
    font-size 2em

p span::before,
@media (min-width: 20em)     p span::after
    display block

p,
@media (min-width: 30em)     .container
    font-size 3em

p,
@media (min-width: 40em)     .container
    font-size 5em

p,
@media (min-width: 60em)     .container
    font-size 8em
